@import url("https://use.typekit.net/epe6zdg.css");

.App {
  text-align: center;
  padding: 40px;
}

.title {
  font-family: "ff-nuvo-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
  color: #315245;
}

.header {
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4c3c2b;
  font-size: 20px;
}

.subheader {
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e332b;
  font-size: 18px;
}

.body-text {
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e332b;
  font-size: 16px;
}

.category {
  width: 200px;
  height: 60px;
  background-color: aliceblue;
  border-radius: 9px;
  text-align: center;
  color: #1e332b;
}

.note-text {
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e332b;
  font-size: 12px;
}

.main {
  display: flex;
}

.all-items-and-title {
  width: 65vw;
  margin-left: 15vw;
  margin-right: 25px;
}

.all-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: #a6c2ba;
  margin: 20px;
  align-items: center;
  position: relative;
}

.image {
  width: 200px;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.remove-button {
  width: 80px;
  height: 30px;
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 10px;
  background-color: #bb9269;
  color: aliceblue;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.packed-items {
  width: 300px;
  height: auto;
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #bb9269;
  color: aliceblue;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -20px;
}

.button-text {
  font-family: "ff-nuvo-mono-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

button:hover {
  background-color: #b38483;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 15px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  height: 100vw;
  top: 60px;
  bottom: 0;
  margin-left: 75vw;
  width: 20vw;
}

.filter-box {
  position: fixed;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.reset-button {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background-color: #bb9269;
  color: aliceblue;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: -100px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media screen and (max-width: 1016px) {
  .filter-box {
    width: 25vw;
  }

  .all-items-and-title {
    width: 50vw;
    margin-left: 20vw;
  }

  .packing-list {
    width: 25vw;
    margin-left: 65vw;
  }
}

@media screen and (max-width: 700px) {
  .filter-box {
    width: 100vw;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }

  .all-items-and-title {
    width: 10vw;
  }

  .packing-list {
    width: 35vw;
    margin-left: 55vw;
    margin-top: 300px;
  }

  .title {
    font-size: 5vw;
  }

  .header {
    font-size: 14px;
  }

  .subheader {
    font-size: 12px;
  }

  .body-text {
    font-size: 10px;
  }

  .note-text {
    font-size: 10px;
  }

  .filter-and-items {
    display: flex;
    flex-direction: column;
  }

  .checkboxes {
    flex-direction: row;
  }

  .importance-checkboxes {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .remove-button {
    width: 50px;
    height: 20px;
    font-size: 10px;
  }

  .reset-button {
    width: 100px;
    height: 40px;
  }
  .button-text {
    font-family: "ff-nuvo-mono-web-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
  }

  .sort-buttons {
    margin-right: 20px;
  }

  .item {
    width: 200px;
    height: 280px;
  }

  .button {
    width: 120px;
    height: 30px;
  }

  .category {
    width: 120px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 9px;
    text-align: center;
    color: #1e332b;
  }

  .image {
    width: 180px;
    height: auto;
  }
}
